<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{!--
  <link rel="stylesheet" href="/css/save.css"> --}}
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/noPost.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Room Review!</title>
</head>

<body>
  <header class="fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
    <nav class="pa3 pa4-ns">
      <a class="link dim black b f6 f5-ns dib mr3" href="/" title="Home">Room Rave</a>
      <a class="link dim gray    f6 f5-ns dib mr3" href="/" title="Home">Home</a>
      <a class="link dim gray    f6 f5-ns dib mr3" href="/saved" title="Home">Saved</a>
    </nav>
  </header>

  <div class="container itemsCards">

  </div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="./js/index.js"></script> {{!--
  <script src="./js/saved.js"></script> --}}

</body>

</html>