<link rel="stylesheet" href="/css/save.css">
<div class="subHeading">
  <h1>Saved Post</h1>
  <h4>You can delete post here.</h4>
</div>
<div class='itemsCards'>
  {{#each values}}
  <article id="{{this.id}}" class="bg-white mw5 ba b--black-10 mv4">
    <div class="pv2 ph3">
      <h1 class="f6 ttu tracked"></h1>
    </div>
    <img src="{{this.image}}" class="w-100 db" alt="room image">
    <div class="pa3">
      <a href="#" class="link dim lh-title">{{this.title}}</a>
      <small class="gray db pv2">{{this.author}}</small>
      <a href="/comments"><small class="gray db pv2">Comments</small></a>
    </div>
  </article>
  {{/each}}
</div>